In [14]:
import sqlite3
connector = sqlite3.connect("sample.db")
cur = connector.cursor()
cur.execute(""" CREATE TABLE student3(
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
        ); """)

In [15]:
cur.execute(""" INSERT INTO STUDENT VALUES("thopuriharshith@gmail.com", "Thopuri", "Harshitha", 84);""")
print("Data Inserted in the table: ")
data = cur.execute('''SELECT * FROM STUDENT''')
for row in data:
    print(row)
connector.commit()
connector.close()

Data Inserted in the table:
('thopuriharshith@gmail.com', 'Thopuri', 'Harshitha', 84)